<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zhai.Renamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Zhai.Renamer.Properties.Settings>
            <setting name="IsStartWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsWindowDarked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsWindowTransparency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>ZDY ' RENAME</value>
            </setting>
            <setting name="Counters" serializeAs="String">
                <value />
            </setting>
            <setting name="RegexFilters" serializeAs="String">
                <value />
            </setting>
            <setting name="Modifiers" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAddToWindowsContextMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSaveLastProfile" serializeAs="String">
                <value>True</value>
            </setting>
        </Zhai.Renamer.Properties.Settings>
    </userSettings>
</configuration>